{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock title %}

<script>
    $(document).ready(function(){
      $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>

{% block maincol %}

    <div class="card-body">
        <h1> {{ object.title }}</h1>
        <p class="text-muted py-3" style="font-size: x-large; margin-left: .5em">Odin May | {% if object.colab_link %}
            <a target="_blank" href={{ object.colab_link }}>Google Colab Notebook</a>{% endif %}</p>
           <hr>
        <br>
           <p class="card-text ">{{ object.content | safe }}</p>
    </div>
{% endblock maincol %}