<div class="col-3 order-2" id="sticky-sidebar" style="background-color: #ffffff">
    <div class="sticky-top">
        <div class="nav flex-column align-items-center">
            <h1 class="display-6 text-center">Keep Coding!</h1>
                <a href="#_" class="nav-link">Recent Posts</a>
                <a href="#_" class="nav-link">Study Path</a>
                <a href="#_" class="nav-link">Project Ideas</a>
                <a href="#_" class="nav-link">Contact</a>
            <h1 class="display-6 my-4 text-center">Awesome Resources</h1>

        </div>
    </div>
</div>